@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;



.tajwal-font {
  font-family: "Tajawal", sans-serif !important;
}

.nav-blur-bg {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.nav-dark-bg {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

input:disabled, select:disabled, textarea:disabled, button:disabled {
  cursor: not-allowed;
}