@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  scroll-behavior: smooth;
}

.tajwal-font {
  font-family: "Tajawal", sans-serif !important;
}

.nav-blur-bg {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.nav-dark-bg {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}
