@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;




*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  @apply bg-primary-900 rounded-2xl;
}

::-webkit-scrollbar-track-piece {
  @apply bg-gray-100;
}


.tajwal-font {
  font-family: "Tajawal", sans-serif !important;
}

.nav-blur-bg {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.nav-dark-bg {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
  cursor: not-allowed;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0px !important;
}

/* Track */
.hidden-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hidden-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}


.Montserrat {
  /* خطوط الشعر */
  font-family: 'Montserrat', sans-serif !important;
}

.poem-box {
  font-family: 'Montserrat', sans-serif !important;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
  min-height: fit-content;
  overflow-y: scroll;
  padding-top: 12%;
  padding-bottom: 12%;
  color: #211042;
  background: #fff3e7;
  box-shadow: inset 7px 0 73px 22px #e6d1bb;
}

.Toastify__toast-body {
  font-family: 'Montserrat', sans-serif !important;
}